apiVersion: apps/v1
kind: Deployment
metadata:
  name: spotify-clone
  labels:
    app: spotify
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spotify
  template:
    metadata:
      labels:
        app: spotify
    spec:
      containers:
      - name: spotify-clone
        image: anant2005ch/spotify-clone:8
        ports:
        - containerPort: 80

